
.mapa {
    position: relative;
}

#area-1 {
    z-index: 1000;
    position: absolute;
    top: 1690px;
    left: 98px;
    opacity: 0.5;
    fill: black;
    stroke-width: 0.264583;
}

#area-68 {
    z-index: 1000;
    position: absolute;
    top: 415px;
    left: 416px;
    opacity: 0.5;
    fill: black;
    stroke-width: 0.264583;
}